#site-header {
    .site-logo {
        img {
            max-width: 200px;
        }
    }

    .maddie-main-nav {
        ul {
            li {
                a {
                    text-transform: uppercase;
                    font-weight: 600;
                }
            }
        }
    }
}