@mixin fs($size, $line-height) {
    @include rem( 'font-size', $size );
    @include rem( 'line-height', $line-height );
}

@mixin h1 {
    @include fs( 54, 60 );

    @include breakpoint(576) {
        font-size: 24px;
        line-height: 32px;
    }
}

@mixin h2 {
    @include fs( 42, 60 );

    @include breakpoint(576){
        font-size: 21px;
        line-height: 30px;
    }
}

@mixin h3 {
    @include fs( 32, 50 );

    @include breakpoint(576){
        font-size: 19px;
        line-height: 29px;
    }
}

@mixin h4 {
    font-size: 22px;
    line-height: 26px;

    @include breakpoint(576){
        font-size: 17px;
        line-height: 24px;        
    }
}

@mixin h5 {
    font-size: 20px;
    line-height: 24px;

    @include breakpoint(576){
        font-size: 15px;
        line-height: 22px;        
    }    
}

@mixin fs-14 {
    font-size: 14px;
    line-height: 24px;

    @include breakpoint(576){
        font-size: 12px;
        line-height: 22px;
    }
}

@mixin fs-16 {
    font-size: 16px;
    line-height: 28px;

    @include breakpoint(576){
        font-size: 14px;
        line-height: 24px;
    }
}

@mixin fs-18 {
    font-size: 18px;
    line-height: 22px;    

    @include media-breakpoint-down(xl){
        font-size: 16px;
        line-height: 18px;
    }
}

@mixin fs-24 {
    font-size: 24px;
    line-height: 40px;
    
    @include breakpoint(576){
        font-size: 20px;
        line-height: 35px;
    }
}

// global function

// @mixin bg-image {
//     background-size: cover;
//     background-position: center;
// }