/**
 * declare variables
 */

// global color
$primary: #FC7F41;
$secondary: #1A1A1A;

$body-color: #666666;
$link-color: $primary;
$link-hover-color: $primary;

// Typography
// $font-family-base: $font-main;

// Heading
$headings-font-weight: 600;
$heading-color: $primary;
// $heading-font-family: '';

$spacing-1x: 60;
$spacing-2x: 120;