@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');

:root {
    font-size: 100%;

    // xl
    @include breakpoint(1400) {
        font-size: 95%;
    }

    // lg
    @include breakpoint(1200) {
        font-size: 70%;
    }

    // md 
    @include breakpoint(768) {
        font-size: 65%;
    }
    
    // sm
    @include breakpoint(576) {
        font-size: 60%;
    }

    body{
        font-family: $font-main;
        @include fs-16;
        font-weight: 400;
        color: $body-color;
    }
}

// a {
//     color: $primary;
//     // @include rem ('font-size', 60);
//     // font-size: 60px;

//     @include breakpoint( 767 ) {
//         color: yellowgreen;
        
//     }
// }