.maddie-list-posttype-widget {
    .list-members-widget {
        .member-item {
            // animation: bounce;
            // animation-duration: 2s;

            .member-item-avatar {
                background-size: cover;
                background-position: center;
                padding-top: 90%;

                img {
                    display: none;
                }
            }
        }
    }

    .list-news-wrapper {
        .news-item {
            .news-item-wrapper {
                border: 1px solid #dddddd;
                padding: 10px 20px;
                border-radius: 4px;
                margin: 10px auto;
            }
            .new-item-title {
                display: block;
                font-size: 20px;
            }

            .new-item-date {
                display: block;
                text-align: right;
            }
        }
    }
}