/**
 * declare variables
 */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap");
:root {
  font-size: 100%;
}
@media only screen and (max-width: 1400px) {
  :root {
    font-size: 95%;
  }
}
@media only screen and (max-width: 1200px) {
  :root {
    font-size: 70%;
  }
}
@media only screen and (max-width: 768px) {
  :root {
    font-size: 65%;
  }
}
@media only screen and (max-width: 576px) {
  :root {
    font-size: 60%;
  }
}
:root body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  color: #666666;
}
@media only screen and (max-width: 576px) {
  :root body {
    font-size: 14px;
    line-height: 24px;
  }
}

.maddie_container, section.maddie_container_yes .elementor-container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 576px) {
  .maddie_container, section.maddie_container_yes .elementor-container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .maddie_container, section.maddie_container_yes .elementor-container {
    max-width: 720px;
  }
}
@media (min-width: 1200px) {
  .maddie_container, section.maddie_container_yes .elementor-container {
    max-width: 1120px;
  }
}
@media (min-width: 1400px) {
  .maddie_container, section.maddie_container_yes .elementor-container {
    max-width: 1300px;
  }
}
@media (min-width: 1632px) {
  .maddie_container, section.maddie_container_yes .elementor-container {
    max-width: 1608px;
  }
}

.maddie_full_container {
  width: 100%;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.pt_1x {
  padding-top: 60px;
}

.pt_2x {
  padding-top: 120px;
}

.pb_1x {
  padding-bottom: 60px;
}

.pb_2x {
  padding-bottom: 120px;
}

.px_1x {
  padding-top: 60px;
  padding-bottom: 60px;
}

.px_2x {
  padding-top: 120px;
  padding-bottom: 120px;
}

.mt_1x {
  margin-top: 60px;
}

.mt_2x {
  margin-top: 120px;
}

.mb_1x, .maddie-slider-widget .maddie-slide h2 {
  margin-bottom: 60px;
}

.mb_2x {
  margin-bottom: 120px;
}

.mx_1x {
  margin-top: 60px;
  margin-bottom: 60px;
}

.mx_2x {
  margin-top: 120px;
  margin-bottom: 120px;
}

.maddie-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
}

.maddie-col-1 {
  width: 8.3333333333%;
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
}

.maddie-col-2 {
  width: 16.6666666667%;
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
}

.maddie-col-3 {
  width: 25%;
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
}

.maddie-col-4 {
  width: 33.3333333333%;
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
}

.d-none {
  display: none !important;
}

#site-header .site-logo img {
  max-width: 200px;
}
#site-header .maddie-main-nav ul li a {
  text-transform: uppercase;
  font-weight: 600;
}

.maddie-slider-widget {
  position: relative;
  height: calc(100vh - 80px);
}
.maddie-slider-widget .maddie-slider-wrapper,
.maddie-slider-widget .slick-list,
.maddie-slider-widget .slick-track,
.maddie-slider-widget .maddie-slide {
  height: 100%;
}
.maddie-slider-widget .maddie-slide {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-size: cover;
  background-position: center;
}
.maddie-slider-widget .maddie-slide h2 {
  text-align: center;
  color: white;
}

.maddie-list-posttype-widget .list-members-widget .member-item .member-item-avatar {
  background-size: cover;
  background-position: center;
  padding-top: 90%;
}
.maddie-list-posttype-widget .list-members-widget .member-item .member-item-avatar img {
  display: none;
}