/**
 * declare variables
 */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap");
:root {
  font-size: 100%;
}
@media only screen and (max-width: 1400px) {
  :root {
    font-size: 95%;
  }
}
@media only screen and (max-width: 1200px) {
  :root {
    font-size: 70%;
  }
}
@media only screen and (max-width: 768px) {
  :root {
    font-size: 65%;
  }
}
@media only screen and (max-width: 576px) {
  :root {
    font-size: 60%;
  }
}
:root body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  color: #666666;
}
@media only screen and (max-width: 576px) {
  :root body {
    font-size: 14px;
    line-height: 24px;
  }
}

#site-header .site-logo img {
  max-width: 200px;
}
#site-header .maddie-main-nav ul li a {
  text-transform: uppercase;
  font-weight: 600;
}